header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

main {
    margin-top: 10px;
    padding: 1rem 1.5rem;
    background: #f0f0f0;
}

.cards {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
}

.card-single {
    padding: 5rem;
    margin: 20px;
}

.card-single li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.myprofile{
    text-align: center;
}
