@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color:#4766bb;
    --secondary-color: #2a4aa0;
    --dark-color: #2844bd;
    --light-color: #f4f4f4;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1,
h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img {
    width: 100%;
}

code, pre{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Nav bar */
.navbar{
    background-color: var(--secondary-color);
    color: #fff;
    height: 60px;
}

.navbar ul{
    display: flex;
    margin-left: 100px;
    align-items: flex-end;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

/* .navbar ul a:hover{
    border-bottom: 2px #fff solid;
} */

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Showcase */
.showcase{
    height: 500px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1{
    font-size: 60px;
    font-weight: bolder;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-text{
    animation: slideInFromLeft 1s ease-in;
}

/* Stats */
.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading{
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.stats .grid a{
    font-size: 35px;
}
.stats .grid p{
    font-size: 16px;
}

/* Student, Teacher */
.student,
.teacher {
    max-width: 100%;
    max-height: 500px;
    overflow: hidden;

}

.student img, 
.teacher img{
    max-width: 350px;
    max-height: 450px;
    justify-self: center;
}

.course-border{
    padding: 0% 5%;
    margin: 5% 5%;
    border: 1px solid #6a46eb;
    border-radius: 20px;
}




/* CIRCLE */
/* (A) PERCENTAGE WIDTH & 50% BORDER RADIUS */
.res-circle {
    width: 20%;
    border-radius: 50%;
    background-image: radial-gradient(white, rgb(71, 102, 187));
    padding: 30px;
    margin: 50px;
    position: relative;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
  }
.parent {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
  /* (B) USE ::AFTER TO CREATE MATCHING HEIGHT */
  /* Credits - https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
  .res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;

  }
/* (E) TEXT BLOCK */  
.circle-txt {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}



/* Footer */
.footer .social a{
    margin: 0 30px;

}
.footer> nav{
    margin: 30px;
    padding: 30px ;
}

/* Animations */
@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom{
    0% {
        transform: translateY(100%);
    }

    100%{
        transform: translateX(0);
    }
}


/* Tablets and under */
@media(max-width: 768px){
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid ,
    .features-main .grid,
    .docs-main .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;
    }

    .showcase-text{
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form{
        text-align: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }
}

/* Mobile */
@media(max-width: 500px){
    .navbar{
        height: 110px;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    /* Hide the link that should open and close the topnav on small screens */
    .navbar .icon {
        display: none;
    }
  
}