<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
   <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"/>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"/>

 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <!--Navbar-->
    <div class="navbar">
        <div class="container flex">
            <h3 class="logo"><a href="/index">App name</a></h3>
            <nav>
                <ul>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% else %}
                    <li><{{current_user.username}}</li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
                </ul>
            </nav>
       </div>
    </div>

    
    <!--Block content-->
    {% block content %}

   <!--Footer-->
    <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div>
                <h1>App name</h1>
                <p>Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Docs</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="#" class="fab fa-github fa-2x"></a>
                <a href="#" class="fab fa-facebook fa-2x"></a>
                <a href="#" class="fab fa-instagram fa-2x"></a>
                <a href="#" class="fab fa-linkedin fa-2x"></a>
            </div>
        </div>
    </footer>
{% endblock %}	

<!--Login messages-->
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
      {% for category, message in messages %} 
        {% if category == 'error' %}
          <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
            </button>
          </div>
        {% else %}
          <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %} 
      {% endfor %} 
    {% endif %} 
    {% endwith %}		

</body>
</html>
