
{% extends "base.html" %}

{% block content %}

<h1 class="micro_heading">
    Microeconomics
</h1>

<div class="container">
    <div class="titles ds">
        <h2>DEMAND AND SUPPLY</h2>
        <p>Supply and demand form the most fundamental concepts of economics. Demand and supply represent the relationship between the quantity of a commodity that producers wish to sell and the quantity that consumers wish to buy. <br> <br>
            In this topic we will learn more about the law of demand and supply, and what causes a shift in the two curves.
            <a href="demand_and_supply.html">Click here to learn more!</a> </p>
    </div>
    <div class="titles elast">
        <h2>ELASTICITY</h2>
        <p>
            The law of demand states that a fall in the price of a good raises the quantity demanded. The price elasticity of demand measures how much the quantity demanded responds to a change in price. <br> <br>
            In this topic we learn how to calculate price elasiticity of demand and supply and the determinates of elasticity.
            <a href="{{ url_for('courses') }}">Click here to learn more!</a>
        </p>

        </div> 
    <div class="titles surplus">
        <h2>CONSUMER AND PRODUCER SURPLUS</h2>
        <p>
            Economic surplus refers to two related quantities: consumer surplus and producer surplus. 
            Consumer surplus is the difference between what a consumer is willing to pay 
            and what they actually pay for a good or service.
            The producer surplus is the difference between the actual price of a good or service–the market 
            price–and the lowest price a producer would be willing to accept for a good.
            <br> <br>
            In this topic we will learn the difference between consumper and surplus and what this means for market efficiency.
            <a href="surplus">Click here to learn more!</a>
        </p>

        </div>
  </div>

<h1 class="macro_heading">
    Macroeconomics
</h1>

<div class="container">
    <div class="titles ">
        <h2>GROSS DOMESTIC PRODUCT</h2>
        <p>Supply and demand form the most fundamental concepts of economics. Demand and supply represent the relationship between the quantity of a commodity that producers wish to sell and the quantity that consumers wish to buy. <br> <br>
            In this topic we will learn more about the law of demand and supply, and what causes a shift in the two curves.
            <a href="demand_and_supply.html">Click here to learn more!</a> </p>
    </div>
    <div class="titles elast">
        <h2>INFLATION</h2>
        <p>
            The law of demand states that a fall in the price of a good raises the quantity demanded. The price elasticity of demand measures how much the quantity demanded responds to a change in price. <br> <br>
            In this topic we learn how to calculate price elasiticity of demand and supply and the determinates of elasticity.
            <a href="elasticity.html">Click here to learn more!</a>
        </p>

        </div> 
  </div>

  {% endblock %}
