{% extends "base.html" %}

{% block content %}
<div class="navbar">
    <div class="container flex">
        <h3 class="logo"><a href="/index">App name</a></h3>
        <nav>
            <ul>
                <li><a href="{{ url_for('content') }}">Courses</a></li>
                <li><a href="{{ url_for('quiz') }}">Quizzes</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
   </div>
</div>

    <div class="cards">
        <div class="card-single">
            <h3><b>Continue Learning</b></h3>
                <ul>
                    <li><a href="">Course 1</a></li>
                    <li><a href="">Course 2</a></li>
                </ul>
           
        </div>
        <div class="card-single">
            <h3><b>Completed course</b></h3>
            <ul>
                <li><a href="">Course 1</a></li>
                <li><a href="">Course 2</a></li>
            </ul>
        </div>
        <div class="card-single">
            <h3><b>Completed quiz</b></h3>
            <ul>
                <li><a href="">Quiz 1</a></li>
                <li><a href="">Quiz 2</a></li>
            </ul>
        </div>
    </div>

    
{% endblock %}