{% extends "base.html" %}

{% block content %}

<!-- SideBar -->
<div class="sidebar">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="" class="active">Dashboard</a>
            </li>
            <li>
                <a href="">Learn</a>
            </li>
            <li>
                <a href="">Quiz</a>
            </li>
            <li>
                <a href="">Progress</a>
            </li>
            <li>
                <a href="{{ url_for('profile') }}">Profile</a>
            </li>
        </ul>
    </div>

</div>

<!-- User Progress -->
<div class="main-content">

    <div class="cards">
        <div class="card-single">
            <h3><b>Continue Learning</b></h3>
            <ul>
                {% for course in courses %}
                <li><a href="{{ url_for(course.courseurl) }}">{{ course.coursename }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div class="card-single">
            <h3><b>Completed quiz</b></h3>
            <ul>
                {% for quiz in quizes %}
                <li><a href="{{ url_for(quiz.quizurl) }}">{{ quiz.quizname }}</a>: {{ quiz.quiz_scoreoutofhundred }}%</li>
                {% endfor %}
            </ul>
        </div>
    </main>
</div>

{% endblock %}