{% extends "base.html" %}

{% block content %}

<!-- User Progress -->
<div class="main-content">

    <div class="cards">
        <div class="card-single">
            <h3><b>Continue Learning</b></h3>
            <ul>
                {% for course in courses %}
                <li><a href="{{ url_for(course.courseurl) }}">{{ course.coursename }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div class="card-single">
            <h3><b>Completed quiz</b></h3>
            <ul>
                {% for quiz in quizes %}
                <li><a href="{{ url_for(quiz.quizurl) }}">{{ quiz.quizname }}</a>: {{ quiz.quiz_scoreoutofhundred }}%</li>
                {% endfor %}
            </ul>
        </div>
    </main>
</div>
{% endblock %}