{% extends "base.html" %}

{% block content %}
<div class= "course-border">
<h1>Demand and Supply</h1>

    <h2>What is a Market?</h2>
    <p>A market is a group of buyers and sellers of a particular good or service.
    The buyers as a group determine the demand for the product and the sellers as a group determine the supply of the product.
    </p>
    <h2>What is Competition?</h2>
    <p>Economists use the term competitive market to describe a market in which there are so many buyers and so many sellers that each has a negligible impact on the market price.
    In this chapter, we assume that markets are perfectly competitive. 
    </p>    
    <h2>Demand</h2>
    <p>The quantity demanded of any good is the amount of the good that buyers are willing and able to purchase.
    Demand is the quantities of a good or service that buyers are willing to buy at a given price at a particular time, ceteris paribus. 
    The law of demand states that other things being equal, when the price of a good rises, the quantity demanded of the good falls and when the price falls, the quantity demanded rises. 
    The downward-sloping line relating price and quantity demanded is called the demand curve.
    Demand reflects real or perceived benefit from procuring a good or service.
    </p>    
    <h2>Movement along the demand curve</h2> 
    <p>A change in the quantity demanded due to a price factor, i.e. if price decreases, quantity demanded increases and vice versa.
    There are two main effects that cause a demand curve to move.
    The income effect: as a good becomes cheaper, our purchasing power (real income) improves That means we can afford to buy more goods for our given (unchanged) actual income.
    The substitution effect: as a good becomes cheaper relative to other goods, we substitute away from the more expensive goods and toward the cheaper good, and buy more.
    </p>

    <h2>Shifts in the Demand Curve</h2>

    <h3>Income</h3>

    <p>Income affects the ability of a customer to pay, and therefore tends to have a positive effect on demand.
    It can also affect willingness to pay because of a change in preferences.
    For example if the demand for a good falls when income falls, the good is called a normal good.
    If the demand for a good rises when income falls, the good is called an inferior good
    </p>
    <h3>Price of Related Goods</h3>

    <p>When a fall in the price of one good reduces the demand for another good, the two goods are called substitutes e.g. apple juice and orange juice.
        When a fall in the price of one good raises the demand for another good, the two goods are called complements e.g. petrol and cars.
    </p>

    <h3>Tastes and Preferences</h3> 

    <p>The most obvious determinant of demand is customers' tastes. For examply if apple releases a new phone, the demand for an apple phone increases.
    Tastes and preferences can affect perceived benefit, and thus willingness to pay.
    It is determined by fashion, advertising, information, hype, media, demographics. </p>

    <h3>Expectations</h3>

    <p>Your expectations about the future may affect your demand for a good or service today e.g. if you expect to earn a higher income next month, you may choose to save less now and spend more.
        On the other hand if you expect the price of ice-cream to fall tomorrow, you may be less willing to buy an ice-cream at today’s price.
    </p>

    <h3>Number of Buyers </h3>

    <p>In addition to the preceding factors, which influence the behaviour of individual buyers, market demand depends on the number of these buyers.
    Population: A general increase in the population will tend to increase the number of buyers.
    The demographic of the buyers also influence demand e.g. baby boomers are hitting retirement age hence demand for healthcare is increasing. 
    </p>    

    <h2>Supply</h2>
    <p>The quantity supplied of a good or service is the amount that sellers are willing and able to sell a good at a particular price.
        The law of supply states that other things being equal, when the price of a good rises, the quantity supplied of the good also rises, and when the price falls, the quantity supplied falls as well.
        When price increases quantity supplied increases: sellers are willing to provide more of the good/service because they will earn higher profits (ceteris paribus).         
    </p>    
    <h2>Shifts in the Supply Curve</h2>

    <h3>Inputs Prices</h3>

    <p>When the price of one or more of the inputs rises, producing the good is less profitable and sellers supply less of it therefore the supply curve will shift to the left.
        Thus, the quantity supplied of a good is negatively related to the price of the inputs used to make the good.  
    </p>

    <h3>Technology</h3>

    <p>Technology represents the stock of knowledge about how to combine resources most efficiently. 
        The invention of new technology or improvements in existing technology can reduce the cost of production hence the supply curve will shift to the right. 
        For example, ice cream machines reduced the amount of workers needed hence reducing cost of production.
        By reducing producers’ costs, the advances in technology raises the quantity supplied.
    </p>

    <h3>Prices of substitutes in production (alternative goods)</h3> 

    <p>Here we mean goods that use the same or similar inputs.
    For example, land used for dairy cows can (sometimes) be used for producing crops, hence, if the price of wheat increases while the price of milk falls, farmers may switch from milk to wheat.
    </p>

    <h3>Expectations</h3>

    <p>If a seller expects the price of a product to rise in the future, it may put some of its current production into storage and supply less to the market today.
    </p>

    <h3>Number of Sellers </h3>

    <p>Market supply depends on the number of sellers therefore if, for example, Tony or Sonia were to retire, the supply in the market for that product would fall.
        An increase in the number of sellers in the market would cause the supply curve to shift to the right and vice versa.
    </p>    
</div>
{% endblock %}