{% extends "base.html" %}

{% block content %}

<head>
  <script src="{{ url_for('static', filename='js/quizScript.js') }}"></script>
  <style>
    .correct{
      border-style: solid;
      border-color: green;
    }
    .wrong{
      border-style: solid;
      border-color: red;
    }
  </style>
</head>

<div id="container" class="main-border">
  <header>
      <h1>Elasticity</h1>
  </header>
  <section>
      <div id="results"></div>
      <form action="#" name="quizForm" onsubmit="return submitAnswers()">
          <h3 id ="q1h">Price elasticity of demand shows how:</h3>
          <input type="radio" name="q1" value="a" id="q1a"> A change in price affects the level of profits for a firm. 
          <br>
          <input type="radio" name="q1" value="b" id="q1b"> A change in income affects the price of a product.<br>
          <input type="radio" name="q1" value="c" id="q1c"> A change in price affects the quantity of a product demanded.
          <br>
          <input type="radio" name="q1" value="d" id="q1d"> A change in demand affects the price of a product.<br>

          <h3 id ="q2h">Following a small increase in the price of a daily newspaper, the revenue from sales of this newspaper stays constant. This means that price elasticity of demand is:</h3>
          <input type="radio" name="q2" value="a" id="q2a"> Unit (unitary) elastic and equal to -1.<br>
          <input type="radio" name="q2" value="b" id="q2b"> Inelastic, and less than +1.<br>
          <input type="radio" name="q2" value="c" id="q2c"> Inelastic, and less than -1.<br>
          <input type="radio" name="q2" value="d" id="q2d"> Elastic, and greater than -1.<br>

          <h3 id ="q3h">A seller lowers their price from $200 per unit to $190 in hopes of increasing revenue which is currently $2.5 million per year. However revenue remains consistent. The best explaition for this is:</h3>
          <input type="radio" name="q3" value="a" id="q3a"> Quantity demanded will have risen by 5%.<br>
          <input type="radio" name="q3" value="b" id="q3b"> The price elasticity of demand is greater than 1.<br>
          <input type="radio" name="q3" value="c" id="q3c"> The price elasticity of demand is less than 1.<br>
          <input type="radio" name="q3" value="d" id="q3d"> Quantity demanded will have remained constant.<br>

          <h3 id ="q4h">If a firm faces inelastic demand with respect to price, a rise in price will lead to:</h3>
          <input type="radio" name="q4" value="a" id="q4a"> No change in demand and an increase in revenue.
          <br>
          <input type="radio" name="q4" value="b" id="q4b"> A fall in demand and a fall in revenue.<br>
          <input type="radio" name="q4" value="c" id="q4c"> A fall in demand and an increase in revenue.<br>
          <input type="radio" name="q4" value="d" id="q4d"> An increase in demand and an increase in revenue.<br>

          <h3 id ="q5h">A supermarket lowers the price of a brand of breakfast cereal, from $2.40 per pack to $2. Its weekly sales from this brand rise from 1000 to 1200. PED over this range of price is.</h3>
          <input type="radio" name="q5" value="a" id="q5a"> -1.2<br>
          <input type="radio" name="q5" value="b" id="q5b"> -1<br>
          <input type="radio" name="q5" value="c" id="q5c"> -2.1<br>
          <input type="radio" name="q5" value="d" id="q5d"> +1.2<br>

          <br><br>
          <input type="submit" value= "Submit Answers">
      </form>
  </section>
</div>
{% endblock %}