{% extends "base.html" %}

{% block content %}
<div class= "course-border">
<h1><b>
    Price Elasticity of Demand
    </b> </h1>
    <p1>The law of demand states that a fall in the price of a good raises the quantity demanded. 
    The price elasticity of demand measures how much the quantity demanded responds to a change in price. 
    Demand for a good is said to be elastic if the quantity demanded responds substantially to changes in the price. 
    Demand is said to be inelastic if the quantity demanded responds only slightly to changes in the price. 
    We calculate price elasticity ED based on percentage change because we are interested in the relationship between the proportionate changes in Quantity and Price:
    </p1>
    <br> <br>
    <img src="/static/images/equation.png" alt="elasticity equation" >
    <br> <br>
    <p2>Demand is elastic when the elasticity is greater than 1, so that quantity moves proportionately more than the price, which means consumers are quite responsive to changes in price. <br>
    Demand is inelastic when the elasticity is less than 1, so that quantity moves proportionately less than the price which means consumers are not very responsive to changes in price.<br> 
    If the elasticity is exactly 1, the percentage change in quantity equals the percentage change in price, therefore demand is said to have unit elasticity. 
    </p2>
    <br>
    <h1><b>The Determinants of Elasticity </b></h1>
    <h2><b>Availability of Close Substitutes </b></h2>
    <p>Goods with close substitutes tend to have more elastic demand because it is easier for consumers to switch from that good to others e.g. butter and margarine. A small increase in the price of butter, assuming the price of margarine is held fixed, causes the quantity of butter sold to fall by a large amount.</p>
    <h2><b>Necessities versus Luxuries </b></h2>

    Necessities tend to have inelastic demands, whereas goods that are luxuries have elastic demands. Whether a good is a necessity or a luxury depends not on the intrinsic properties of the good but on the preferences of the buyer. For example, when the price of a visit to the doctor rises, the quantity demanded doesn’t change drastically, whereas when the price of a yacht increases quantity demanded falls substantially.
    <b>Note: </b>For a sailor with few health concerns, a yacht might be a necessity with inelastic demand and visits to the doctor a luxury with elastic demand. 
    <br> <br>
    <b>Definition of the Market</b>
    <br> <br>
    The elasticity of demand in any market depends on how we draw the boundaries of the market. Narrowly defined markets tend to have more elastic demand than broadly defined markets, since it is easier to find close substitutes for narrowly defined goods. For example, food, a broad category, has a fairly inelastic demand because there are no good substitutes for food , however ice cream, has elastic demand as there are other desserts.
    <br> <br>
    <b>Time Horizon</b>
    <br> <br>
    Goods tend to have more elastic demand over longer time horizons. When the price of petrol rises, the quantity of petrol demanded falls only slightly in the first few months. Over time however, people buy more fuel-efficient cars, switch to public transport or move closer to where they work so the quantity of petrol demanded falls more substantially. 
    </p3>
    <h1>
    <b>Income Elasticity of Demand</b>
    </h1>
    <p4>Income elasticity of demand is a measure of how much the quantity demanded of a good responds to a change in consumers’ income.
    <br> <br>
    <img src="/static/images/equation2.png" alt="income elasticity">
    <br> <br>
    Because quantity demanded and income have a positive relationship, normal goods have positive income elasticities.
    For inferior goods because quantity demanded and income move in opposite directions, they have negative income elasticities. 
    <br> <br>
    Eᵢ < 0: inferior goods/services, negative relationship between income and quantity demanded.<br>
    0 < Eᵢ < 1: normal goods/services, positive relationship between income and quantity demanded, but demand is not ‘very responsive’ to changes in income. <br>
    Eᵢ > 1: luxury goods/services, positive relationship between income and quantity demanded, and demand is highly responsive to changes in income.<br>
    </p4>
</div>
{% endblock %}