{% extends "base.html" %}

{% block content %}  

    <!--Showcase-->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Learn Fast, Learn Better</h1>
                <p>Economics is a social science concerned with the production, distribution, and consumption of goods and services. 
                    It studies how individuals, businesses, governments, and nations make choices about how to allocate resources.
                    Economics can generally be broken down into macroeconomics, 
                    which concentrates on the behavior of the economy as a whole, and microeconomics, which focuses on individual people and businesses.
                    Learn more about the basics of economics by taking our free courses!
                </p>
                <a href="{{ url_for('dashboard') }}" class="btn btn-outline">Get Started</a>
            </div>

            <div class="showcase-img" style="text-align;">
                <img style="width: 100%;" src="static/images/download-2.jpg" alt="">
            </div>
        </div>
    </section>

    <div class="container-divs">
        <section class="parent" id="wrapper">
        <div class="res-circle">
            <div class="circle-txt"> <a href="{{ url_for('ds') }}"> DEMAND AND SUPPLY</a></div> 
        </div>
        <div class="res-circle">
            <div class="circle-txt"><a href="{{ url_for('elasticity') }}"> ELASTICITY</a></div> 
        </div>
        <div class="res-circle">
            <div class="circle-txt"><a href="{{ url_for('surplus') }}">CONSUMER AND <br> PRODUCER SURPLUS</a></div> 
        </div>
        </section>
    </div>

    <!--Footer-->
   <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div>
                <h1>ECON101</h1>
                <p>Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul>
                    <li><a href=#>Home</a></li>
                    <li><a href="{{ url_for('content') }}">Courses</a></li>
                    <li><a href="{{ url_for('quiz') }}">Quizzes</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="https://www.facebook.com/" class="fab fa-facebook fa-2x"></a>
                <a href="https://www.instagram.com/" class="fab fa-instagram fa-2x"></a>
                <a href="https://www.linkedin.com/feed/" class="fab fa-linkedin fa-2x"></a>
            </div>
        </div>
    </footer>
{% endblock %}