{% extends "base.html" %}

{% block content %}  
    <!--Showcase-->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Learn Fast, Learn Better</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia maxime dignissimos dolores ea, recusandae dolorem nisi non deserunt similique commodi quidem temporibus unde, praesentium, a inventore laboriosam vero placeat!</p>
                <a href="courses.html" class="btn btn-outline">Read More</a>
            </div>

            <div class="showcase-img">
                <img src="static/images/math.jpg" alt="">
            </div>
        </div>
    </section>

    <!--Stats-->
    <section class="stats">
        <div class="container">
            <h1 class="stats-heading text-center my-1">
                Interactive learning
            </h1>

            <div class="grid grid-3 text-center my-4">
                <div>
                    <i class="fas fa-infinity fa-3x"></i>
                    <h3>Lorem, ipsum.</h3>
                    <p class="text-top m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aut vel unde, odio minima quam.</p>
                </div>
                <div>
                    <i class="fas fa-infinity fa-3x"></i>
                    <h3>Lorem, ipsum.</h3>
                    <p class="text-top m-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta odio fugit saepe dolores molestias ut.</p>
                </div>
                <div>
                    <i class="fas fa-infinity fa-3x"></i>
                    <h3>Lorem, ipsum.</h3>
                    <p class="text-top m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolores doloribus consectetur nostrum!</p>
                </div>
            </div>
        </div>
    </section>

    <!--Student-->
    <section class="student bg-primary my-2 py-2">
        <div class="container grid">
            <div class="text-center">
                <h2 class="lg">Lorem ipsum dolor sit amet.</h2>
                <p class="lead my-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, temporibus!</p>
                <a href="features.html" class="btn btn-dark">Read More</a>
            </div>
            <img src="static/images/stationery.jpeg" alt="">
        </div>
    </section>

    <!--Teacher-->
    <section class="teacher my-2 py-2">
        <div class="container grid">
            <img src="static/images/laptop.jpg" alt="">
            <div class="text-center">
                <h2 class="lg">Lorem ipsum dolor sit amet.</h2>
                <p class="lead my-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, temporibus!</p>
                <a href="features.html" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </section>
{% endblock %}