{% extends "base.html" %}

{% block content %}  

    <!--Showcase-->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Learn Fast, Learn Better</h1>
                <p>Economics is a social science concerned with the production, distribution, and consumption of goods and services. 
                    It studies how individuals, businesses, governments, and nations make choices about how to allocate resources.
                    Economics can generally be broken down into macroeconomics, 
                    which concentrates on the behavior of the economy as a whole, and microeconomics, which focuses on individual people and businesses.
                    Learn more about the basics of economics by taking our free courses!
                </p>
                <a href="{{ url_for('dashboard') }}" class="btn btn-outline">Get Started</a>
            </div>

            <div class="showcase-img">
                <img src="static/images/math.jpg" alt="">
            </div>
        </div>
    </section>

    <!--Stats-->
    <section class="stats">
        <div class="container">

            <div class="grid grid-3 text-center my-4">
                <div>
                    <i class="fas fa-infinity fa-3x"></i>
                    <h3>Courses</h3>
                    <p class="text-top m-3">We offer a range of different courses in micro and macro economics.</p>
                </div>
                <div>
                    <i class="fas fa-infinity fa-3x"></i>
                    <h3>Quizzes</h3>
                    <p class="text-top m-3">Take our quizzes to test yourself on your knowledge.</p>
                </div>
                <div>
                    <i class="fas fa-infinity fa-3x"></i>
                    <h3>Feedback</h3>
                    <p class="text-top m-3">Receive feedback to understand where you can improve.</p>
                </div>
            </div>
        </div>
    </section>

    <!--Student-->
    <section class="student bg-primary my-2 py-2">
        <div class="container grid">
            <div class="text-center">
                <h2 class="lg">Microeconomics</h2>
                <p class="lead my-1">Microeconomics is a study of the behavior of individuals and firms in making decisions regarding the 
                    allocation of scarce resources and the interactions among these individuals and firms.</p>
                <a href="features.html" class="btn btn-dark">Read More</a>
            </div>
            <img src="static/images/stationery.jpeg" alt="">
        </div>
    </section>

    <!--Teacher-->
    <section class="teacher my-2 py-2">
        <div class="container grid">
            <img src="static/images/laptop.jpg" alt="">
            <div class="text-center">
                <h2 class="lg">Macroeconomics</h2>
                <p class="lead my-1">Macroeconomics is a branch of economics dealing with the 
                    performance, structure, behavior, and decision-making of an economy as a whole.</p>
                <a href="features.html" class="btn btn-dark">Read More</a>
            </div>
        </div>
    </section>
{% endblock %}