{% extends "base.html" %}

{% block content %}

<script>

</script>

<div class="main-border">
    <h1 class="login">Sign In</h1>
    <form action="" method="post" novalidate class="form1" onsubmit=>
        {{ form.hidden_tag() }}
        
        <p class="form_heads">{{ form.username.label }}</p> 
        <div class="hi"> {{ form.username(size=32) }}</div>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <p class="form_heads">{{ form.password.label }}</p>
        <div>{{ form.password(size=32) }}</div>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <span class="remember_me">{{ form.remember_me() }} {{ form.remember_me.label }}</span>
        <p class="random">{{ form.submit() }}</p>
    </form>

    <p class="un">New User? <a href="{{ url_for('sign_up') }}">Click to Register</a></p>
</div>
{% endblock %}
