{% extends "base.html" %}

{% block content %}
<div class="myprofile">
    <img src="/static/images/avatar.jpg" alt="avatar">
    <h2>{{ current_user.username }}</h2>    
    <div class="profileprogress profiletut">
        <span class="ps1">&nbsp;</span>
        <span class="ps2">TUTORIALS:</span>
        <span class="ps3">0 points</span>
    </div>
    <div class="profileprogress profilequiz">
        <span class="ps1">&nbsp;</span>
        <span class="ps2">QUIZZES:</span>
        <span class="ps3">0 points</span>
    </div><div class="profileprogress profileex">
        <span class="ps1">&nbsp;</span><span class="ps2">EXERCISES:</span>
        <span class="ps3">0 points</span>
    </div><div class="profileprogress profiletot"><span class="ps1">&nbsp;</span>
        <span class="ps2">TOTAL:</span><span class="ps3">0 points</span>
    </div>
</div>
{%endblock%}