{% extends "base.html" %}

{% block content %}

<h1 class="econ_heading">
    Microeconomics
</h1>

<div class="container">
    <div class="titles ds">
        <h2>DEMAND AND SUPPLY</h2>
        <p>This quiz will test your knowledge on the fundamentals of demand and supply.
            <a href="{{ url_for('ds_quiz') }}">Click to get started!</a> </p>
    </div>
    <div class="titles elast">
        <h2>ELASTICITY</h2>
        <p>
            This quiz will test your knowledge on the price elasticity of demand, income elasticity of demand and cross elasticity of demand.
            <a href="{{ url_for('elasticity_quiz') }}">Click to get started!</a>
        </p>

        </div> 
    <div class="titles surplus">
        <h2>CONSUMER AND PRODUCER SURPLUS</h2>
        <p>
            This quiz will test your knowledge on consumer and producer surplus and how this effects market efficiceny.
            <a href="{{ url_for('surplus_quiz') }}">Click to get started!</a>
        </p>

        </div>
  </div>


  {% endblock %}
