{% extends "base.html" %}

{% block content %}
<h2>Definition of Consumer Surplus</h2>
<p>This is the difference between what the consumer pays and what he would have been willing to pay.
For example: If you would be willing to pay £50 for a ticket to see the F. A. Cup final, but you can buy a ticket for £40. 
In this case, your consumer surplus is £10.</p>
<h2>Definition of producer surplus</h2>

<p>This is the difference between the price a firm receives and the price it would be willing to sell it at.
If a firm would sell a good at £4, but the market price is £7, the producer surplus is £3.</p>

<h2>Diagram of Consumer Surplus</h2>
<img src="/static/images/surplus.png" alt="Consumer and Producer Surplus" >









{% endblock %}