{% extends "base.html" %}

{% block content %}
<div class= "course-border">
<h2>Definition of Consumer Surplus</h2>
<p>This is the difference between what the consumer pays and what he would have been willing to pay.
For example: If you would be willing to pay $50 for a ticket to see the World Cup final, but you can buy a ticket for $40. 
In this case, your consumer surplus is $10.</p>

<h2>Calculating Consumer Surplus</h2>
<div style="width: 40%; text-align: center;">
<img src="/static/images/cs.png" alt="">
</div>
<p>
    Where:
    <br> <br>
    Qn = Quantity of demand/supply either at equilibrium or the willing purchasing or selling price <br>
    ΔP = The difference between the price at equilibrium or at the purchasing or selling point and the price at Δ0 <br>

</p>

<h2>Declining Consumer Surplus</h2>
<p>
    Consumer surplus generally declines with consumption. One explanation for this is the law of diminishing marginal utility, 
    which suggests that the first unit of a good or service consumed generates much greater utility than the second, which generates greater utility than the third and subsequent units. 
    <br> <br>
    For example a very thirsty consumer will be prepared to pay a relatively high price for their first soft drink, but, as they drink more, less utility is derived and the price they would be prepared to pay falls.</p>


<h2>Definition of Producer Surplus</h2>

<p>This is the difference between the price a firm receives for a product and the price it would be willing to sell it at.
If a firm would sell a good at $4, but the market price is $7, the producer surplus is $3.</p>

<h2>Calculating Producer Surplus</h2>
<div style="width: 40%; text-align: center;">
    <img src="/static/images/ps.png" alt="">
</div>

<h2>Total Surplus</h2>
<p>
    Economic welfare is the total benefit available to society from an economic transaction or situation.
    
    Economic welfare is also called total surplus. Welfare is represented by the area for consumer surplus plus the area for producer surplus.
    <br><br>
    It is used to determine the well-being of the market. When all factors are constant, in a perfect market state, an equilibrium is achieved. 
    This state is also referred to as allocative efficiency where the marginal cost and marginal benefit are equal.</p>

<h2>Diagram of Total Surplus</h2>
<div style="width: 45%;">
<img src="/static/images/surplus.png" alt="Consumer and Producer Surplus" >
</div>


</div>

{% endblock %}